{% extends 'base.html' %}
{% load bootstrap4 %}
{% load make_link %}
{% load static %}
{% block body %}

<h1>글 제목 : {{ article.title }} </h1>
<hr>


<table class="table table-hover">
    <thead>
      <tr>
        <th>글번호</th>
        <th>글쓴이</th>
        <th>작성시각</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ article.pk }}</td>
        <td> {{ article.user.username }}</td>
        <td>{{ article.created_at }}</td>
      </tr>
    </tbody>
  </table>
<p style="text-align:center;">
<img src="{{ article.image.url }}" class="rounded" alt="poster_url" width="300px"/>
</p>
<table class="table table-hover">
    <thead>
      <tr>
        <th>키</th>
        <th>몸무게</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ article.height }}</td>
        <td> {{ article.weight }}</td>
      </tr>
    </tbody>
  </table>

<p>각오 한마디 : {{ article|hashtag_link|safe }}</p>
<hr>
<a href="{% url 'articles:index' %}" class="btn btn-info" role="button">BACK</a>

{% if request.user == article.user %}
<a href="{% url 'articles:update' article.pk %}" class="btn btn-info">EDIT</a>
<form action="{% url 'articles:delete' article.pk %}" method="POST" style="display: inline;"
    onclick="return confirm('진짜 삭제...?')">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="DELETE">
</form>
{% endif %}

<hr>
{% if user.is_authenticated %}
<form action="{% url 'articles:comments_create' article.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" class="btn btn-info" value="댓글 작성">
</form>
{% endif %}
<hr>
<p><b>댓글 목록({{ comments|length }}개)</b>
    <p>
        {% for comment in comments %}
        <p>[{{ forloop.revcounter}}] {{ comment.content }}</p>
        {% if comment.user == request.user %}
        <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST" style="display:inline;">
            {% csrf_token %}
            <input type="submit" value="삭제" />
        </form>
        {% endif %}
    </p>

    {% endfor %}
    {% endblock  %}