{% load gravatar %}

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    

    {% comment %} <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav"> {% endcomment %}
        <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item active">
                <form action="{% url 'accounts:change_password' %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <input class="btn btn-secondary" type="submit" value="암호변경">
                </form>
            </li>
            <li class="nav-item active">
                <form action="{% url 'accounts:delete' %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <input class="btn btn-secondary" type="submit" value="회원탈퇴">
                </form>
            </li>
        {% endif %}

        </ul>
    </div>
</nav>